/* Bootstrap Theme */
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* Transaction Styles */
.transactions {
	outline: 1px solid grey;
	background-color: grey;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
}

/* Form Styles*/
.form {
	outline: 1px solid;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
}