<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Alternative Blockchains</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./static/starter.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-inverse bg-inverse fixed-top">
      <a class="navbar-brand" href="#">Distributed Datastore</a>
    </nav>

    <div class="container">

          <div class="input-group input-group-sm">
            <form class="form form-horizontal" method="post" role="form">
              <div class="form-group">
                <h3>Order Form</h3>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">😀</span>
                    <input type="text" class="form-control" placeholder="Customer" aria-describedby="basic-addon1">
                  </div>
                  <br />

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">#️⃣</span>
                    <input type="text" class="form-control" placeholder="Order" aria-describedby="basic-addon1">
                  </div>
                  <br />

                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">📦</span>
                    <input type="text" class="form-control" placeholder="Product" aria-describedby="basic-addon1">
                  </div>
                  <br />

                  <button type="button" class="btn btn-warning">Submit</button>
                <br />
              </div>
              </div>
            </form>
            <br />
            <h2>Recent Orders</h2>
          </div><!-- /.container -->  
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.4/umd/popper.min.js" integrity="sha256-KTKnuJPRS70XKLm+ka+irprJFaz/MLZQKHIID7ECCmw=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>
